@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <title>My view</title>
</head>
<body>
    <div>
        Hello world (z widoku!)<br>
        @ViewBag.Greeting - powitanie z widoku!
    </div>
</body>
</html>